/* common style start */
*{
    
    margin: 0;
    padding: 0;
    font-family: Work Sans;

}
.main-btn{
    padding: 15px 30px;
    border-radius:30px;
    border: 1px solid #FF42A5;
    font-size: 0.9rem;
    font-weight: 600;
    color: #FFF;
    background-color: #FF42A5;
}
.main-btn:hover{
    padding: 15px 30px;
    border-radius:30px;
    border: 1px solid #FF42A5;
    font-size: 0.9rem;
    font-weight: 600;
    color: #FF42A5;
    background-color: #FFF;;
}
.snd-btn{
    padding: 15px 30px;
    border-radius:30px;
    border: 1px solid #4EC5F7;
    font-size: 0.9rem;
    font-weight: 600;
    color: #FFF;
    background-color: #4EC5F7;
    margin-left: 20px;
}
.snd-btn:hover{
    padding: 15px 30px;
    border-radius:30px;
    border: 1px solid #4EC5F7;
    font-size: 0.9rem;
    font-weight: 600;
    color: #4EC5F7;
    background-color: #FFF;
}
/* common style end */

/* navbar style start  */
nav{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    margin: auto;
    padding: 20px 0;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    display: flex;
    max-width: 180px;
    gap: 10px;
}
.nav-btn{
    padding: 10px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    font-size: 1rem;
}
.nav-title h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.nav-title img{
    width: 80%;
}
.nav-manu ul{
    display: flex;
    gap: 25px;
    align-items: center;
}
.nav-manu ul li{
    list-style: none;
    
}
.nav-manu ul li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;

}
/* navbar style end  */

/* banner section style start  */
.banner{
    height: 500px;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left;
}
.banner img{
    width: 37%;
}
.banner-container{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-container ul{
    margin-bottom: 30px;
}
.banner-container ul li{
    color: #534C64;
    font-weight: 500;
    list-style: none;
    margin-left: 5px;
    margin-top: 5px;
}
.banner-container ul li i{
    color: #F948B2;
    margin-right: 10px;
}
.banner-section-contant h3{
    color: #0B0223;
    font-size: 2.9rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 5px;
}
.banner-section-contant h2{
    font-size: 6rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* banner section style end  */

/* gamer section start  */
.gamer{
    height: 500px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto ;
}
.game-section-contant{
    text-align: right;
}
.game-section-title{
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-section-description{
    color: #534C64;
    font-weight: 400;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.purpose{
    color: #534C64;
font-size: 1.1rem;
font-weight: 500;
margin-top: 20px;
}
.purpose span{
    color: #534C64;
font-size: 1.5rem;
font-weight: 700;
}
/* gamer section end  */

/* online games section start  */
.online-games{
    max-width: 1440px;
    margin: auto;
}
.online-games-section-contant{
    text-align: center;
    margin-top: 6rem;
}
.online-games-section-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.online-games-section-description{
    color: #534C64;
    font-weight: 500;
    margin-top: 16px;
}
.online-games-section-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
}
.online-games-section-card-description{
    color: #534C64;
    font-weight: 500;
    max-width: 342px;
    margin-top: 24px;
}
.online-games-section-card img{
    height: 80%;
}
/* online games section end  */

/* play section start */
.play-section{
    max-width: 1440px;
    margin: auto;
    margin-top: 120px;
}
.play-section-title{
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 341px;
    color: #0B0223;
    text-align: right;
}
.play-section-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-section-description{
    color: #534C64;
    font-weight: 400;
    max-width: 352px;
    text-align: right;
    margin-top: 24px;
}
.img-section-img1{
    width: 70%;
    height: 90%;
    position: relative;
    margin-left: 60px;
}
.img-section-img2{ 
    position: relative;
    bottom: 150px;
    height: 200px;
    margin: 0;
    padding: 0;
}
.play-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: right;
    gap: 100px;
}
.play-section-content{
    text-align: right;
    
}
/* play section end */

/* game list section start  */
.game-list{
    height: 400px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.game-list-container{
    max-width: 1440px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.game-list-btn{
    display: inline-flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px 10px 10px;
    border-radius: 50px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #0B0223;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.game-list-btn:hover{
    display: inline-flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px 10px 10px;
    border-radius: 50px;
    border: 2px solid #FF42A5;
    background-color: #fff;
    color: #FF42A5;
}
.game-list-btn span{
    font-size: 1.2rem;
}

/* game list section end  */

/* footer start */
footer{
    height: 500px;
    background: #0B0223;
    margin: auto;
}
.footer-container{
    max-width: 1440px;
    margin: auto;
    padding-top: 120px;
    align-items: center;
}
.footer-menu{
    color: #fff;
    margin-top: 30px;
}
.footer-menu ul{
    max-width: 700px;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.footer-icon{
    display: flex;
    gap: 50px;
    margin-top: 30px;
    justify-content: center;
}
.footer-icon a i{
    color: #fff;
}
.footer-list{
    color: rgba(255, 255, 255, 0.60);
}
.footer-list ul{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    margin-top: 15px;
}
.footer-logo{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.footer-logo img{
    text-align: center;
}
.footer-logo h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}
/* footer end */






/* responsive style start  */

/* mobile style start  */

@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-manu ul{
        flex-direction: column;
        margin-top: 20px;
    }
    .banner{
        height: auto;
        background-image: none;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-container img {
        width: 100%;
        margin-top: 30px;
    }
    .banner-section-contant{
        text-align: center;
        margin-top: 30px;
    }
    .gamer-container{
        flex-direction: column;
    }
    .gamer-container img {
        width: 100%;
    }
    .game-section-contant{
        text-align: center;
    }
    .online-games-section-card-container{
        flex-direction: column;
    }
    .online-games-section-card{
        margin-bottom: 20px;
    }
    .online-games{
        text-align: center;
    }
    .play-section-container{
        flex-direction: column;
    }
    .play-section-content{
        width: 100%;
        text-align: center;
    }
    .game-list{
        height: auto;
    }
    .footer-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .footer-menu ul li{
        margin-bottom: 5px;
    }
    .footer-container{
        padding-top: 50px;
    }
}

/* mobile style end */

/* responsive style end  */